<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fish14_01.png</key>
			<dict>
				<key>width</key>
				<integer>356</integer>
				<key>height</key>
				<integer>190</integer>
				<key>originalWidth</key>
				<integer>380</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>7</real>
				<key>offsetY</key>
				<real>9</real>
			</dict>
			<key>fish14_02.png</key>
			<dict>
				<key>width</key>
				<integer>358</integer>
				<key>height</key>
				<integer>197</integer>
				<key>originalWidth</key>
				<integer>380</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>192</integer>
				<key>offsetX</key>
				<real>5</real>
				<key>offsetY</key>
				<real>8.5</real>
			</dict>
			<key>fish14_03.png</key>
			<dict>
				<key>width</key>
				<integer>357</integer>
				<key>height</key>
				<integer>206</integer>
				<key>originalWidth</key>
				<integer>380</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>360</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>4.5</real>
				<key>offsetY</key>
				<real>6</real>
			</dict>
			<key>fish14_04.png</key>
			<dict>
				<key>width</key>
				<integer>354</integer>
				<key>height</key>
				<integer>214</integer>
				<key>originalWidth</key>
				<integer>380</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>360</integer>
				<key>y</key>
				<integer>208</integer>
				<key>offsetX</key>
				<real>6</real>
				<key>offsetY</key>
				<real>4</real>
			</dict>
			<key>fish14_05.png</key>
			<dict>
				<key>width</key>
				<integer>357</integer>
				<key>height</key>
				<integer>220</integer>
				<key>originalWidth</key>
				<integer>380</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>391</integer>
				<key>offsetX</key>
				<real>4.5</real>
				<key>offsetY</key>
				<real>2</real>
			</dict>
			<key>fish14_06.png</key>
			<dict>
				<key>width</key>
				<integer>360</integer>
				<key>height</key>
				<integer>222</integer>
				<key>originalWidth</key>
				<integer>380</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>613</integer>
				<key>offsetX</key>
				<real>4</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>fish14_07.png</key>
			<dict>
				<key>width</key>
				<integer>363</integer>
				<key>height</key>
				<integer>222</integer>
				<key>originalWidth</key>
				<integer>380</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>362</integer>
				<key>y</key>
				<integer>424</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>3</real>
			</dict>
			<key>fish15_01.png</key>
			<dict>
				<key>width</key>
				<integer>266</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>280</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>719</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>5</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>fish15_02.png</key>
			<dict>
				<key>width</key>
				<integer>265</integer>
				<key>height</key>
				<integer>77</integer>
				<key>originalWidth</key>
				<integer>280</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>719</integer>
				<key>y</key>
				<integer>81</integer>
				<key>offsetX</key>
				<real>5.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>fish15_03.png</key>
			<dict>
				<key>width</key>
				<integer>262</integer>
				<key>height</key>
				<integer>77</integer>
				<key>originalWidth</key>
				<integer>280</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>837</integer>
				<key>offsetX</key>
				<real>6</real>
				<key>offsetY</key>
				<real>2.5</real>
			</dict>
			<key>fish15_04.png</key>
			<dict>
				<key>width</key>
				<integer>259</integer>
				<key>height</key>
				<integer>83</integer>
				<key>originalWidth</key>
				<integer>280</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>719</integer>
				<key>y</key>
				<integer>160</integer>
				<key>offsetX</key>
				<real>7.5</real>
				<key>offsetY</key>
				<real>5.5</real>
			</dict>
			<key>fish15_05.png</key>
			<dict>
				<key>width</key>
				<integer>252</integer>
				<key>height</key>
				<integer>92</integer>
				<key>originalWidth</key>
				<integer>280</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>916</integer>
				<key>offsetX</key>
				<real>10</real>
				<key>offsetY</key>
				<real>8</real>
			</dict>
			<key>fish15_06.png</key>
			<dict>
				<key>width</key>
				<integer>247</integer>
				<key>height</key>
				<integer>93</integer>
				<key>originalWidth</key>
				<integer>280</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>716</integer>
				<key>y</key>
				<integer>245</integer>
				<key>offsetX</key>
				<real>12.5</real>
				<key>offsetY</key>
				<real>9.5</real>
			</dict>
			<key>fish15_07.png</key>
			<dict>
				<key>width</key>
				<integer>241</integer>
				<key>height</key>
				<integer>89</integer>
				<key>originalWidth</key>
				<integer>280</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>362</integer>
				<key>y</key>
				<integer>648</integer>
				<key>offsetX</key>
				<real>14.5</real>
				<key>offsetY</key>
				<real>8.5</real>
			</dict>
			<key>fish15_08.png</key>
			<dict>
				<key>width</key>
				<integer>240</integer>
				<key>height</key>
				<integer>85</integer>
				<key>originalWidth</key>
				<integer>280</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>362</integer>
				<key>y</key>
				<integer>739</integer>
				<key>offsetX</key>
				<real>15</real>
				<key>offsetY</key>
				<real>8.5</real>
			</dict>
			<key>fish15_09.png</key>
			<dict>
				<key>width</key>
				<integer>242</integer>
				<key>height</key>
				<integer>82</integer>
				<key>originalWidth</key>
				<integer>280</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>716</integer>
				<key>y</key>
				<integer>340</integer>
				<key>offsetX</key>
				<real>14</real>
				<key>offsetY</key>
				<real>8</real>
			</dict>
			<key>fish15_10.png</key>
			<dict>
				<key>width</key>
				<integer>245</integer>
				<key>height</key>
				<integer>78</integer>
				<key>originalWidth</key>
				<integer>280</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>264</integer>
				<key>y</key>
				<integer>837</integer>
				<key>offsetX</key>
				<real>11.5</real>
				<key>offsetY</key>
				<real>8</real>
			</dict>
			<key>fish16_01.png</key>
			<dict>
				<key>width</key>
				<integer>249</integer>
				<key>height</key>
				<integer>83</integer>
				<key>originalWidth</key>
				<integer>280</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>727</integer>
				<key>y</key>
				<integer>424</integer>
				<key>offsetX</key>
				<real>13.5</real>
				<key>offsetY</key>
				<real>7.5</real>
			</dict>
			<key>fish16_02.png</key>
			<dict>
				<key>width</key>
				<integer>258</integer>
				<key>height</key>
				<integer>80</integer>
				<key>originalWidth</key>
				<integer>280</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>254</integer>
				<key>y</key>
				<integer>917</integer>
				<key>offsetX</key>
				<real>9</real>
				<key>offsetY</key>
				<real>5</real>
			</dict>
			<key>fish16_03.png</key>
			<dict>
				<key>width</key>
				<integer>263</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>280</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>727</integer>
				<key>y</key>
				<integer>509</integer>
				<key>offsetX</key>
				<real>5.5</real>
				<key>offsetY</key>
				<real>2.5</real>
			</dict>
			<key>fish16_04.png</key>
			<dict>
				<key>width</key>
				<integer>270</integer>
				<key>height</key>
				<integer>85</integer>
				<key>originalWidth</key>
				<integer>280</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>605</integer>
				<key>y</key>
				<integer>648</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>fish16_05.png</key>
			<dict>
				<key>width</key>
				<integer>273</integer>
				<key>height</key>
				<integer>94</integer>
				<key>originalWidth</key>
				<integer>280</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>605</integer>
				<key>y</key>
				<integer>735</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>fish16_06.png</key>
			<dict>
				<key>width</key>
				<integer>274</integer>
				<key>height</key>
				<integer>96</integer>
				<key>originalWidth</key>
				<integer>280</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>514</integer>
				<key>y</key>
				<integer>831</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-5</real>
			</dict>
			<key>fish16_07.png</key>
			<dict>
				<key>width</key>
				<integer>271</integer>
				<key>height</key>
				<integer>91</integer>
				<key>originalWidth</key>
				<integer>280</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>514</integer>
				<key>y</key>
				<integer>929</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>fish16_08.png</key>
			<dict>
				<key>width</key>
				<integer>266</integer>
				<key>height</key>
				<integer>82</integer>
				<key>originalWidth</key>
				<integer>280</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>987</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>fish16_09.png</key>
			<dict>
				<key>width</key>
				<integer>261</integer>
				<key>height</key>
				<integer>76</integer>
				<key>originalWidth</key>
				<integer>280</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>986</integer>
				<key>y</key>
				<integer>84</integer>
				<key>offsetX</key>
				<real>5.5</real>
				<key>offsetY</key>
				<real>4</real>
			</dict>
			<key>fish16_10.png</key>
			<dict>
				<key>width</key>
				<integer>256</integer>
				<key>height</key>
				<integer>74</integer>
				<key>originalWidth</key>
				<integer>280</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>980</integer>
				<key>y</key>
				<integer>162</integer>
				<key>offsetX</key>
				<real>8</real>
				<key>offsetY</key>
				<real>7</real>
			</dict>
			<key>fish17_01.png</key>
			<dict>
				<key>width</key>
				<integer>496</integer>
				<key>height</key>
				<integer>142</integer>
				<key>originalWidth</key>
				<integer>566</integer>
				<key>originalHeight</key>
				<integer>207</integer>
				<key>x</key>
				<integer>965</integer>
				<key>y</key>
				<integer>245</integer>
				<key>offsetX</key>
				<real>35</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>fish17_02.png</key>
			<dict>
				<key>width</key>
				<integer>525</integer>
				<key>height</key>
				<integer>143</integer>
				<key>originalWidth</key>
				<integer>566</integer>
				<key>originalHeight</key>
				<integer>207</integer>
				<key>x</key>
				<integer>1255</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>20.5</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>fish17_03.png</key>
			<dict>
				<key>width</key>
				<integer>558</integer>
				<key>height</key>
				<integer>152</integer>
				<key>originalWidth</key>
				<integer>566</integer>
				<key>originalHeight</key>
				<integer>207</integer>
				<key>x</key>
				<integer>992</integer>
				<key>y</key>
				<integer>389</integer>
				<key>offsetX</key>
				<real>4</real>
				<key>offsetY</key>
				<real>2.5</real>
			</dict>
			<key>fish17_04.png</key>
			<dict>
				<key>width</key>
				<integer>566</integer>
				<key>height</key>
				<integer>163</integer>
				<key>originalWidth</key>
				<integer>566</integer>
				<key>originalHeight</key>
				<integer>207</integer>
				<key>x</key>
				<integer>992</integer>
				<key>y</key>
				<integer>543</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>5</real>
			</dict>
			<key>fish17_05.png</key>
			<dict>
				<key>width</key>
				<integer>545</integer>
				<key>height</key>
				<integer>155</integer>
				<key>originalWidth</key>
				<integer>566</integer>
				<key>originalHeight</key>
				<integer>207</integer>
				<key>x</key>
				<integer>880</integer>
				<key>y</key>
				<integer>708</integer>
				<key>offsetX</key>
				<real>10.5</real>
				<key>offsetY</key>
				<real>2</real>
			</dict>
			<key>fish17_06.png</key>
			<dict>
				<key>width</key>
				<integer>523</integer>
				<key>height</key>
				<integer>142</integer>
				<key>originalWidth</key>
				<integer>566</integer>
				<key>originalHeight</key>
				<integer>207</integer>
				<key>x</key>
				<integer>1463</integer>
				<key>y</key>
				<integer>145</integer>
				<key>offsetX</key>
				<real>21.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>fish17_07.png</key>
			<dict>
				<key>width</key>
				<integer>509</integer>
				<key>height</key>
				<integer>142</integer>
				<key>originalWidth</key>
				<integer>566</integer>
				<key>originalHeight</key>
				<integer>207</integer>
				<key>x</key>
				<integer>790</integer>
				<key>y</key>
				<integer>865</integer>
				<key>offsetX</key>
				<real>28.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>fish17_08.png</key>
			<dict>
				<key>width</key>
				<integer>499</integer>
				<key>height</key>
				<integer>138</integer>
				<key>originalWidth</key>
				<integer>566</integer>
				<key>originalHeight</key>
				<integer>207</integer>
				<key>x</key>
				<integer>1427</integer>
				<key>y</key>
				<integer>708</integer>
				<key>offsetX</key>
				<real>33.5</real>
				<key>offsetY</key>
				<real>-2.5</real>
			</dict>
			<key>fish17_09.png</key>
			<dict>
				<key>width</key>
				<integer>494</integer>
				<key>height</key>
				<integer>139</integer>
				<key>originalWidth</key>
				<integer>566</integer>
				<key>originalHeight</key>
				<integer>207</integer>
				<key>x</key>
				<integer>1552</integer>
				<key>y</key>
				<integer>289</integer>
				<key>offsetX</key>
				<real>36</real>
				<key>offsetY</key>
				<real>-4</real>
			</dict>
			<key>fish17_10.png</key>
			<dict>
				<key>width</key>
				<integer>496</integer>
				<key>height</key>
				<integer>142</integer>
				<key>originalWidth</key>
				<integer>566</integer>
				<key>originalHeight</key>
				<integer>207</integer>
				<key>x</key>
				<integer>1301</integer>
				<key>y</key>
				<integer>865</integer>
				<key>offsetX</key>
				<real>35</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>fish18_01.png</key>
			<dict>
				<key>width</key>
				<integer>623</integer>
				<key>height</key>
				<integer>182</integer>
				<key>originalWidth</key>
				<integer>623</integer>
				<key>originalHeight</key>
				<integer>182</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1022</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>fish18_02.png</key>
			<dict>
				<key>width</key>
				<integer>628</integer>
				<key>height</key>
				<integer>181</integer>
				<key>originalWidth</key>
				<integer>628</integer>
				<key>originalHeight</key>
				<integer>181</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1206</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>fish18_04.png</key>
			<dict>
				<key>width</key>
				<integer>628</integer>
				<key>height</key>
				<integer>173</integer>
				<key>originalWidth</key>
				<integer>628</integer>
				<key>originalHeight</key>
				<integer>173</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1389</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>fish18_03.png</key>
			<dict>
				<key>width</key>
				<integer>630</integer>
				<key>height</key>
				<integer>181</integer>
				<key>originalWidth</key>
				<integer>630</integer>
				<key>originalHeight</key>
				<integer>181</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1564</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>fish18_05.png</key>
			<dict>
				<key>width</key>
				<integer>624</integer>
				<key>height</key>
				<integer>183</integer>
				<key>originalWidth</key>
				<integer>624</integer>
				<key>originalHeight</key>
				<integer>183</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1747</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>fish18_06.png</key>
			<dict>
				<key>width</key>
				<integer>618</integer>
				<key>height</key>
				<integer>177</integer>
				<key>originalWidth</key>
				<integer>618</integer>
				<key>originalHeight</key>
				<integer>177</integer>
				<key>x</key>
				<integer>625</integer>
				<key>y</key>
				<integer>1022</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>fish18_07.png</key>
			<dict>
				<key>width</key>
				<integer>621</integer>
				<key>height</key>
				<integer>177</integer>
				<key>originalWidth</key>
				<integer>621</integer>
				<key>originalHeight</key>
				<integer>177</integer>
				<key>x</key>
				<integer>630</integer>
				<key>y</key>
				<integer>1201</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>fish18_08.png</key>
			<dict>
				<key>width</key>
				<integer>620</integer>
				<key>height</key>
				<integer>181</integer>
				<key>originalWidth</key>
				<integer>620</integer>
				<key>originalHeight</key>
				<integer>181</integer>
				<key>x</key>
				<integer>630</integer>
				<key>y</key>
				<integer>1380</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>fish18_09.png</key>
			<dict>
				<key>width</key>
				<integer>619</integer>
				<key>height</key>
				<integer>184</integer>
				<key>originalWidth</key>
				<integer>619</integer>
				<key>originalHeight</key>
				<integer>184</integer>
				<key>x</key>
				<integer>632</integer>
				<key>y</key>
				<integer>1563</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>fish18_10.png</key>
			<dict>
				<key>width</key>
				<integer>626</integer>
				<key>height</key>
				<integer>178</integer>
				<key>originalWidth</key>
				<integer>626</integer>
				<key>originalHeight</key>
				<integer>178</integer>
				<key>x</key>
				<integer>1245</integer>
				<key>y</key>
				<integer>1009</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>fish18_11.png</key>
			<dict>
				<key>width</key>
				<integer>623</integer>
				<key>height</key>
				<integer>179</integer>
				<key>originalWidth</key>
				<integer>623</integer>
				<key>originalHeight</key>
				<integer>179</integer>
				<key>x</key>
				<integer>626</integer>
				<key>y</key>
				<integer>1749</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>fish18_12.png</key>
			<dict>
				<key>width</key>
				<integer>612</integer>
				<key>height</key>
				<integer>170</integer>
				<key>originalWidth</key>
				<integer>612</integer>
				<key>originalHeight</key>
				<integer>170</integer>
				<key>x</key>
				<integer>1253</integer>
				<key>y</key>
				<integer>1189</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>fish18_13.png</key>
			<dict>
				<key>width</key>
				<integer>604</integer>
				<key>height</key>
				<integer>171</integer>
				<key>originalWidth</key>
				<integer>604</integer>
				<key>originalHeight</key>
				<integer>171</integer>
				<key>x</key>
				<integer>1253</integer>
				<key>y</key>
				<integer>1361</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>fish18_14.png</key>
			<dict>
				<key>width</key>
				<integer>603</integer>
				<key>height</key>
				<integer>167</integer>
				<key>originalWidth</key>
				<integer>603</integer>
				<key>originalHeight</key>
				<integer>167</integer>
				<key>x</key>
				<integer>1253</integer>
				<key>y</key>
				<integer>1534</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>fpack050.png</string>
			<key>realTextureFileName</key>
			<string>fpack050.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>